
<div class="container">
        <div class="row">
          <div class="col-md-4">
            <form (ngSubmit)="onSubmit()" #f="ngForm">
                <div class="form-group">
                  <label for="email">Mail</label>
                  <input type="email" id="email" class="form-control" [(ngModel)]="email" name="email"  #mail="ngModel" required pattern= "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" email/>
                  <br><p>Your email is: {{ email }}</p>
                </div>
              <span class="help-block" *ngIf=" !mail.valid && mail.touched" > Please enter a valid email!! </span>
              <span class="help-block" *ngIf=" mail.valid " > It's a valid email!! </span>
              <br><br>
              <button class="btn btn-primary" type="submit">Submit</button>
            </form>
            
          </div>
        </div>
    </div>
      
      